/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of default resets*/
/*beginning of CSS*/

#container {
  font-family: "Karla", Helvetica, sans-serif;
  width: 100%
}
#splash-page {
  padding: 50px 0 140px 0;
  background-color: #000;
}
.row {
  width: 620px;
  margin: 0 auto;
	padding: 0;
  position: relative;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  color: purple;
  /*color: linear-gradient(purple, blue);*/
  background-color: #000;
}
.learn-how {
  font-size: 44px;
  font-weight: bold;
  margin-top: 60px;
  color: #FFF;
}
.learn-how span {
  width: 500px;
  padding-bottom: 13px;
  border-bottom: 1px dotted rgba(175, 88, 202, 1);
  display: inline-block;
  color: rgba(175, 88, 202, 1);
}
.join {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 32px;
  margin-top: 69px;
  color: #FFF;
}
.join span {
  font-weight: 700;
}
.enter-your-email input {
  font-family: 'Karla', Helvetica, sans-serif;
  padding: 1em;
	margin-right: 10px;
	width: 380px;
  font-size: 20px;
  background-color: rgba(230, 230, 230, 1);
  border-radius: 3px;
  float: left;
}
#splash-page .enter-your-email input:focus {
  background-color: #FFF;
}
.send-invite {
  /*margin-left: 10px;*/
  padding: 25px;
  width: 125px;
  border-radius: 3px;
  font-size: 18px;
  color: #FFF;
  text-align: center;
  background-color: rgba(175, 88, 202, 1);
  float: left;
}
.send-invite:hover {
  background-color: #9400D3;
}
.enter-your-email .send-invite {
  padding-bottom: 20px;
}
#instructors h2 {
  font-size: 22px;
  font-weight: 600;
	margin-bottom: 36px;
}
#instructors {
	margin-top: 77px;
	line-height: 21px;
}
#instructors img {
  width: 193px;
	height: 130px;
}
#instructors ul li {
  width: 193px;
	margin-right: 13px;
  float: left;
}
#instructors span {
  font-size: 19px;
	display: block;
	margin: 11px 0 4px 0;
}
#instructors p {
	font-size: 15px;
  color: #999;
  line-height: 1.5;
  font-weight: 300;
}
#marketing {
  clear: both;
  padding-top: 50px;
}
#marketing h2 {
  font-size: 22px;
  font-weight: 600;
	/*margin-bottom: 36px;*/
  /*margin-top: 77px;*/
}
#marketing p {
	color: #000;
  margin: 28px 0;
  font-size: 19px;
  font-weight: 300;
  line-height: 28px;
}
#marketing a {
  color: #999;
}
#marketing span {
  font-size: 15px;
  padding-top: 6px;
  color: #999;
}
#logos img {
  width: 100%;
}
#footer .join {
	font-size: 22px;
  color: #000;
  margin-top: 20px;
}
#footer .join span {
	font-weight: 700;
}
#footer .enter-your-email input {
  background-color: rgba(230, 230, 230, 1);
  border: none;
  width: 380px;
  border: rgba(230, 230, 230, 1);
}
#footer .enter-your-email input:focus {
background-color: #FFF;
}
#footer .send-invite {
  padding: 23px;
}
.roll-credits {
  clear: both;
  padding: 97px 0 55px 0;
  color: #999;
}

/*responsive starts here*/
@media screen and (max-width: 619px) {
	.row {
		width: 88%;
	}
	h1 {
		width: 220px;
		font-size: 25px;
	}
	.learn-how {
	  font-size: 31px;
		font-weight: bold;
	  line-height: 40px;
	  margin-top: 38px;
	  color: #FFF;
	}
	.enter-your-email input {
		width: 95%;
		padding: 14px 20px;
		margin: 10px 5px 10px 0;
	}
	.send-invite {
		width: 96%;
		padding: 14px 20px;
		margin: 0 5px 0 0;
	}
	h2 {
	  font-size: 20px;
		line-height: 1.4em;
	  /*font-weight: 600;
	  margin-top: 77px;*/
	}
	#instructors ul {
		display: table;
		width: 100%;
		border-spacing: 0 20px;
		margin-top: -20px;
	}
	#instructors ul li {
	  width: auto;
		display: table-row;
	  float: none !important;
	}
	#instructors span {
		margin-bottom: 0;
			  /*float: none !important;*/
	}
	#instructors li img {
		width: 110px;
		height: 110px;
	}
	#instructors li p {
		display: table-cell;
		width: auto;
		padding-left: 20px;
		vertical-align: middle;
	}
	#marketing p {
		font-size: 16px;
		line-height: 27px;
	}
	#footer .enter-your-email input {
		width: 95%;
		padding: 14px 20px;
		margin: 10px 5px 10px 0;
	}
	#footer .send-invite {
		width: 96%;
		padding: 14px 20px;
		margin: 0 5px 0 0;
	}
}
